<!-- Header Area wrapper Starts -->
<header id="header-wrap">
  <!-- Navbar Start -->
  <nav class="navbar navbar-expand-lg fixed-top scrolling-navbar indigo">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header" style="padding-top: 18px">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar"
                aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          <span class="icon-menu"></span>
          <span class="icon-menu"></span>
          <span class="icon-menu"></span>
        </button>
        <a href="index.html" class="navbar-brand"><img src="assets/img/kanelu.png" alt=""
                                                       style="height: 75px"></a>
      </div>
      <div class="collapse navbar-collapse" id="main-navbar">
        <ul class="navbar-nav mr-auto w-100 justify-content-left clearfix">
          <li class="nav-item active">
            <a class="nav-link" href="#hero-area">
              {{'menu.home' | translate}}
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#services">
              {{'menu.services' | translate}}
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact">
              {{'menu.contact' | translate}}
            </a>
          </li>
        </ul>
      </div>
      <div class="float-right">
        <div class="social-icon">
          <a href="javascript:void(0)" class="lang" [ngClass]="{'lang-selected': selectedLang === fr }"
             (click)="selectLang(fr)">FR</a>
          <a href="javascript:void(0)" class="lang" [ngClass]="{'lang-selected': selectedLang === en }"
             (click)="selectLang(en)">EN</a>
        </div>
      </div>
    </div>

    <!-- Mobile Menu Start -->
    <ul class="mobile-menu navbar-nav">
      <li>
        <a class="page-scroll" href="#hero-area">
          {{'menu.home' | translate}}
        </a>
      </li>
      <li>
        <a class="page-scroll" href="#services">
          {{'menu.services' | translate}}
        </a>
      </li>
      <li>
        <a class="page-scroll" href="#contact">
          {{'menu.contact' | translate}}
        </a>
      </li>
    </ul>
    <!-- Mobile Menu End -->

  </nav>
  <!-- Navbar End -->

  <!-- Hero Area Start -->
  <div id="hero-area" class="hero-area-bg">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <div class="contents text-center mt-3">
            <h2 class="head-title wow fadeInUp">
              <span [innerHTML]="'home.slogan' | translate"></span>
              <p class="subtitle" [innerHTML]="'home.slogan.subtitle' | translate"></p>
            </h2>
            <div class="header-button wow fadeInUp" data-wow-delay="0.3s">
              <a href="#" class="btn btn-common page-scroll" href="#contact">{{'home.more' | translate}}</a>
            </div>
          </div>
          <div class="img-thumb text-center wow fadeInUp" data-wow-delay="0.6s">
            <img class="img-fluid" src="assets/img/hero-1.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Hero Area End -->

</header>
<!-- Header Area wrapper End -->

<!-- Services Section Start -->
<section id="services" class="section-padding">
  <div class="container">
    <div class="section-header text-center">
      <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">{{'services.title' | translate}}</h2>
    </div>
    <div class="row">
      <!-- Services item -->
      <div class="col-md-6 col-lg-4 col-xs-12">
        <div class="services-item wow fadeInRight" data-wow-delay="0.3s">
          <div class="icon">
            <i class="lni-cloud-sync"></i>
          </div>
          <div class="services-content">
            <h3><a href="#">{{'services.website.title' | translate}}</a></h3>
            <p>{{'services.website.description' | translate}}</p>
          </div>
        </div>
      </div>
      <!-- Services item -->
      <div class="col-md-6 col-lg-4 col-xs-12">
        <div class="services-item wow fadeInRight" data-wow-delay="0.6s">
          <div class="icon">
            <i class="lni-mobile"></i>
          </div>
          <div class="services-content">
            <h3><a href="#">{{'services.softwaredev.title' | translate}}</a></h3>
            <p>{{'services.softwaredev.description' | translate}}</p>
          </div>
        </div>
      </div>
      <!-- Services item -->
      <div class="col-md-6 col-lg-4 col-xs-12">
        <div class="services-item wow fadeInRight" data-wow-delay="0.9s">
          <div class="icon">
            <i class="lni-briefcase"></i>
          </div>
          <div class="services-content">
            <h3><a href="#">{{'services.consulting.title' | translate}}</a></h3>
            <p>{{'services.consulting.description' | translate}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Services Section End -->


<!-- Feature Section Start -->
<div id="feature">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="text-wrapper">
          <div>
            <h2 class="title-hl wow fadeInLeft" data-wow-delay="0.3s">{{'about.title' | translate}}</h2>
            <div class="row">
              <div class="col-md-6 col-sm-6">
                <div class="features-box wow fadeInLeft" data-wow-delay="0.3s">
                  <div class="features-icon">
                    <i class="lni-thumbs-up"></i>
                  </div>
                  <div class="features-content">
                    <h4>
                      {{'about.reliable.title' | translate}}
                    </h4>
                    <p>
                      {{'about.reliable.description' | translate}}
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-sm-6">
                <div class="features-box wow fadeInLeft" data-wow-delay="0.6s">
                  <div class="features-icon">
                    <i class="lni-layers"></i>
                  </div>
                  <div class="features-content">
                    <h4>
                      {{'about.e2e.title' | translate}}
                    </h4>
                    <p>
                      {{'about.e2e.description' | translate}}
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-sm-6">
                <div class="features-box wow fadeInLeft" data-wow-delay="0.9s">
                  <div class="features-icon">
                    <i class="lni-user"></i>
                  </div>
                  <div class="features-content">
                    <h4>
                      {{'about.tailor.title' | translate}}
                    </h4>
                    <p>
                      {{'about.tailor.description' | translate}}
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-sm-6">
                <div class="features-box wow fadeInLeft" data-wow-delay="1.2s">
                  <div class="features-icon">
                    <i class="lni-timer"></i>
                  </div>
                  <div class="features-content">
                    <h4>
                      {{'about.deliver.title' | translate}}
                    </h4>
                    <p>
                      {{'about.deliver.description' | translate}}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 padding-none">
        <div class="feature-thumb wow fadeInRight" data-wow-delay="0.3s">
          <img src="assets/img/kanelu-feature.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Feature Section End -->


<!-- Contact Section Start -->
<section id="contact" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-header text-center">
          <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">{{'contact.title' | translate}}</h2>
        </div>
      </div>
    </div>
    <div class="row contact-form-area wow fadeInUp" data-wow-delay="0.4s">
      <div class="col-sm-12 text-center">
        <div class="wow fadeIn">
          <h5>{{'contact.getintouch' | translate}}</h5>
          <div class="contact-right">
            <div class="single-contact">
            </div>
            <div class="single-contact">
              <h5><a
                [href]="'mailto:'+ ('contact.email' | translate)">{{'contact.email' | translate}}</a></h5>
            </div>
            <div class="single-contact">
              <h5><a
                [href]="'tel:'+ ('contact.mobilephone1' | translate)">{{'contact.mobilephone1' | translate}}</a>
              </h5>
              <h5><a
                [href]="'tel:'+ ('contact.mobilephone2' | translate)">{{'contact.mobilephone2' | translate}}</a>
              </h5>
            </div>
            <div class="social-icon">
              <a class="facebook" href="#"><i class="lni-facebook-filled"></i></a>
              <a class="twitter" href="#"><i class="lni-twitter-filled"></i></a>
              <a class="instagram" href="#"><i class="lni-instagram-filled"></i></a>
              <a class="linkedin" href="#"><i class="lni-linkedin-filled"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Contact Section End -->


<section id="copyright">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p>Copyright © 2020 Kanelu All Right Reserved</p>
      </div>
    </div>
  </div>
</section>

<!-- Go to Top Link -->
<a href="#" class="back-to-top">
  <i class="lni-arrow-up"></i>
</a>

<!-- Preloader -->
<div id="preloader">
  <div class="loader" id="loader-1"></div>
</div>
<!-- End Preloader -->
